body {
  margin: 0;
}

ul, li {
  padding: 0;
}
li {
  /*display: inline;*/
  /*padding: 0 0 0 0;*/
  /*width: 20%;*/
  float: left;
}


#nav-panel-bottom {
  width: 100%;
  background-color: lightgray;
}

.parentButtonPanel {
  /*width: 100%;*/
}

.button {
  height: 100px;
}
