body {
  margin: 0;
}

ul, li {
  padding: 0;
}
li {
  /*display: inline;*/
  /*padding: 0 0 0 0;*/
  /*width: 20%;*/
  /*float: left;*/
}


#nav-panel-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  /*background-color: lightgray;*/
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1em;
  color: #888;
  -webkit-tap-highlight-color: rgba(0,0,0,0);  /* THIS WORKED!!!*/
}

.parentButtonPanel {
  /*width: 100%;*/
}

.button {
  text-align: center;
  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-size: 1.5em;
  width: 20%;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}

.button > .name {
  font-size: .5em;
}

*:active {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
  tap-highlight-color: rgba(0,0,0,0);
}

::selection {
  background: none;
}
::-moz-selection {
  background: none;
}
::-webkit-selection {
  background: none;
}
